body
{
    background-color: pink;
    font-family: 'Share Tech Mono', monospace;
}

h1
{
    font-family: 'Akaya Telivigala', cursive;
    margin: 0 0px 0 20px;
    color: rgb(115, 115, 180);
}

h3
{
    text-align: justify;
}

div
{
    color: rgb(27, 76, 92);
}

#menuBG
{
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu
{
    width: 600px;
    height: 200px;
}

#totalPrice
{
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.menuLeft
{
    width: 200px;
    height: 200px;
    float: left;
}

.menuCenter
{
    width: 200px;
    height: 200px;
    float: left;
}

.menuRight
{
    width: 200px;
    height: 200px;
    float: right;
}

#showText
{
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart
{
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder
{
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
    border: solid skyblue;
    border-radius: 2rem;
    background-color: white;
}

#btnOrder:hover
{
    background-color: black;
    color: white;
    cursor: pointer;
}